---
import { nxt_hint } from "@utils/nxt";
const { hints, language } = Astro.props
let innerContent = await Astro.slots.render("default")

innerContent = innerContent.replaceAll("&quot;",`"`)
							.replaceAll("&amp;","&")
							.replaceAll("&#39;","'")
							.replaceAll("&lt;","<")
							.replaceAll("&gt;",">")
							//.replaceAll(/^\s{2,}/gm,"")

hints.forEach(hint => {
	let regex = new RegExp('\\bNXT' + hint.number + '\\b','g');
	innerContent = innerContent.replaceAll(regex,`:${hint.nxt_type}: \`${hint.display_text} <${hint.tooltip}>\``)
})
let html = `<div class="highlight">`;
html += nxt_hint("```"+language+"\n"+innerContent+"\n```")
html += `</div>`
---

<Fragment set:html={html} />