---
const { title } = Astro.props
const body = await Astro.slots.render('default')
console.log(body)
---
<div class="admonition note">
    { title && <p class="first admonition-title">{title}</p>}
    <Fragment set:html={body}>
</div>