---
const { type } = Astro.props
const body = await Astro.slots.render('default')
---
<div class=`admonition ${type}`>
    { type && <p class="first admonition-title">{type}</p>}
    <Fragment set:html={body}>
</div>