---
let children = Astro.props.children
children = Array.isArray(children) ? children : [children];
const tabs = children?.map(child => child?.props?.name ?? "") ?? [];
---

<div class="c-tabs">
    <div class="c-tabs__nav" role="tablist">
        { tabs.map(tab => {
            return (
                <button class="c-tabs__tab"
                    role="tab"
                    data-key={tab}>
                    { tab }
                </button>
            );
        }) }
    </div>
    {children}
</div>
