---
let children = await Astro.slots.render('default')
//children = Array.isArray(children) ? children : [children];
children = children.replaceAll("&lt;","<").replaceAll("&gt;",">")
console.log(children)
---

<div class="c-tabs nxt_tabs">
    <Fragment set:html={children} />
</div>
